<div class="blog-masthead">

  <div class="container">
    <a href="{{ site.url }}">
        <h1 class="text-banner">www.dentysta-irlandia.eu <br>
          <div id="page-logo"> </div>
  <small>Polski dentysta w Irlandii</small></h1></a>

    <nav class="blog-nav">
      <div class="btn-group link-btns">
        {% for node in site.pages %}
          {% if node.name != "feed.xml" %}             
            {% if page.url == node.url %}
              <a href="{{node.url}}" type="button" class="blog-nav active btn btn-primary ">{{node.title}}</a>
            {% else %}
              <a href="{{node.url}}" type="button" class="blog-nav btn btn-default ">{{node.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</div>




