<div class="blog-masthead">
  <div class="container">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        
          <h1 class="text-banner"><a href="{{ site.url }}">www.dentysta-irlandia.eu </a><br>
          <div id="page-logo"> </div>
          <small>Polski dentysta w Irlandii</small></h1>
      
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for node in site.pages %}
              {% if node.name != "feed.xml" %}             
                {% if page.url == node.url %}
                  <li class="active"><a href="{{node.url}}" type="button" class="btn btn-primary">{{node.title}}</a></li>
                {% else %}
                  <li><a href="{{node.url}}" type="button" class="btn btn-default">{{node.title}}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        
      </div>
    </div>  
  </div>
</div>




